<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Grids & Circles</title>
</head>
<body class="container-fluid">
<h1></h1>
<h2>작업명세서 목록</h2>

<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <a th:href="@{/new-work}" class="btn btn-primary me-md-2" type="button">Add Work</a>
    <a th:href="@{/update-work}" class="btn btn-primary me-md-2" type="button">Update Work</a>
</div>

<table class="table table-hover table-striped">
    <thead>
    <tr>
        <th scope="col">statementId</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Contents</th>
        <th scope="col">SchedulerCron</th>
        <th scope="col">isActive</th>
        <th scope="col">CreatedAt</th>
        <th scope="col">UpdatedAt</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="work: ${works}" th:object="${work}">
        <td th:text="*{statementId}"></td>
        <td th:text="*{name}"></td>
        <td th:text="*{email}"></td>
        <td th:text="*{contents}"></td>
        <td th:text="*{schedulerCron}"></td>
        <td th:text="*{isActive}"></td>
        <td th:text="*{createdAt}"></td>
        <td th:text="*{updatedAt}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>